body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

h1{
    font-size: 36x;
}

.api-section{
    width: 90%;
    max-width: 900px;
    padding: 24px;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 24px 24px 0;
}

.api-content{
    font-weight: bold;
    font-style: italic;
    color: #999;
}

.sunny{
    background-image: url("https://cdn3.vectorstock.com/i/1000x1000/80/92/natural-sunny-background-vector-4668092.jpg");
}
.cloudy{
    background-image: url("https://image.freepik.com/free-vector/cloudy-blue-background_53876-82143.jpg");
}
.rain{
    background-image: url("https://previews.123rf.com/images/enrouteksm/enrouteksm1508/enrouteksm150800138/43177813-rain-drops-on-car-window-with-light-bokeh-rainy-season-abstract-background-.jpg");
}
.form-container{
    padding: 15px;
    margin: 0 20px;
    color: blue;
}
.card{
    width: 18rem;
    height: 28rem;
}
legend{
    background-color: red;
}